*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    /* background: #111; */
}
.banner{
    background-image: url(https://images.unsplash.com/photo-1490855345014-1692c19ffe60?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1080&ixid=MnwxfDB8MXxyYW5kb218MHx8c2hvcHBpbmcsZWNvbW1lcmNlfHx8fHx8MTY0NDgyNTk0Mg&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1920);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
   
}
.text{
    
    border: 8px solid silver;
    margin-left: 30px;
    width: 30vw;
    color: white;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 8px 0px silver;

}
.card{
    display: flex;
    margin: auto;
    width: 600px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    align-items: center;
    border-radius: 5px;
    background-color: silver;
    box-shadow: 0px 0px 8px 0px silver;
}

.abt{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.abt p{
    text-align: center;
    margin: 5px;
}
img{
    border-radius: 5%;
    width: 25%;
}
.b{
    background-color: #111;
    padding: 20px 0px;
    width: 100vw;
}
.icon i:hover
{
    opacity: 0.7;
    cursor: pointer;
}
a{
    margin-left:5px;
}
i{
    color: black;
}

@media screen and (max-width: 650px){
.card{
    flex-direction: column;
    width: 90vw;
    justify-content: center;
}
.banner{
    width: 100vw;
}
.b{
    width: 100vw;
}
h2{
    margin: 5px;
}
}